@font-face {
    font-family: 'silkscreennormal';
    src: url('slkscr-webfont.eot');
    src: url('slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('slkscr-webfont.woff2') format('woff2'),
         url('slkscr-webfont.woff') format('woff'),
         url('slkscr-webfont.ttf') format('truetype'),
         url('slkscr-webfont.svg#silkscreennormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

.container{
    height:100%;
    font-family: 'silkscreennormal', Arial, sans-serif;
    display:flex;
    flex-direction: column;
}
.presentation{
    background-color: black;
    margin-top: 1%;
    border-radius: 10px;
}

.name{
    color: #7FFF00;
    margin-left: 1%;
}

.dev{
    color: white;
    text-align: center;
    font-size: 1.5em;
}

.marthe{
    margin: -7%;
}

.contact{
    justify-content: center;
}

.contactBtn{
    margin-top: 18%;
    font-size:1.5em;
}
.btn{
    background-color: black;
}

.modal-header{
    background-color: black;
    color: white;
    text-align: center;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

.modal-body{
    text-align: center;
}

.close{
    color:white;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top:20%;

}